<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  
    <div class="row" style="margin-left: 60px;">
      <div class="col-4"><div class="color"><em><h4><i class="fas fa-map-marker-alt"></i>ADDRESS</h4></em></div><br><br>
        <p>4-102, Nirmaan  Blood Bank, 1, Road-1 ,<br> Jubilee Hills , Hyderabad - 500033 ,<br>Telangana</p><br>
          </div>

      <div class="col-4"><div class="color"><em><h4>CONTACT</h4></em></div><br>
        <br><a href="https://www.facebook.com/nirmaanorg/"><i class="fab fa-facebook"></i></a>
        <a href="https://in.linkedin.com/company/nirmaanorganization"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.youtube.com/user/NirmaanOrganization"><i class="fab fa-youtube"></i></a>
        <br> <p><b><i class="fas fa-phone-square"></i>  Phone: </b>(040) 23554849 , 9849756785 , 9440055777, (040) 23555005</p>
      </div>
      <div class="col-4"><div class="color"><em><h4>OUR PROGRAMS</h4></em></div><br>
        Education<br>
        Employability<br>
        Social Leadership<br>
        Women Skill Development Program
        </div>
    </div>

 

</body>
</html>


