<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>About us</h1>
  <div class="au">
    <p>
      Have you at anytime witnessed a relative of yours or a close friend searching frantically for a blood donor, when blood banks say out of stock, the donors in mind are out of reach and the time keeps ticking? Have you witnessed loss of life for the only reason that a donor was not available at the most needed hour? Is it something that we as a society can do nothing to prevent? This thought laid our foundation.<br>

"Nirmaan" is an organization that brings voluntary blood donors and those in need of blood on to a common platform.  Through this website, we seek donors who are willing to donate blood, as well as provide the timeliest support to those in frantic need of it.<br>

Started in the year 2005, on 14th Nov, in a small room with just 100 voluntary donors but with the zeal to serve our society, to inspire and spread the word, we dream to fulfill 100% blood need in India.<br>

Our mission is to fulfill every blood request in the country with a promising web portal and motivated individuals who are willing to donate blood.<br>

Our vision is to be “The hope of every Indian in search of a voluntary blood donor”<br>

Our motto - “Donate blood to save the most precious human life”<br>
To be a donor, <a href="http://localhost:4200/donarregistration">Click here</a>
    </p>
  </div>
  <router-outlet></router-outlet>
</body>
</html>