
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 


<br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src="./assets/imgs/aar1.jpg" alt="Los Angeles" height="400px">
        
      </div>

      <div class="carousel-item">
        <img src="./assets/imgs/aar2.jpg" alt="Chicago" height="400px" >
        
      </div>
    
      <div class="carousel-item">
        <img src="./assets/imgs/aar3.jpg" alt="New York" height="400px">
        
      </div>
      <div class="carousel-item">
        <img src="./assets/imgs/aar4.jpg" alt="yoo York" height="400px">
        
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control-prev" href="#myCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>

    </a>
    <a class="right carousel-control-next" href="#myCarousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
      
    </a>
  </div>
  <br>
<!-- image on text
  <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
</head>
<body>



<div class="container">
  <img src="../../assets/imgs/aar5.jpg" alt="Snow" style="width:100%;">
  
  <div class="centered"><div class="text-danger">Donating Blood is half work done. The second half involves processing the blood by seperating it into components, doing screening tests, storing it and then testing it again at the time of issue. All this requires minimum charges.</div>
</div></div>

</body>
</html>  -->
<br>
<div class="donate">
  <h2> Donate</h2>
  <div class="container mx-auto mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
  <img src="./assets/imgs/card3.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Be a blood donar</h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text">However it is committed to provide Blood Components free of charge to Thalassemic children and children with Leukemia.</p>
       <a href="http://localhost:4200/donarregistration" class="btn mr-2"><i class="fas fa-link"></i> Donate </a>
  
  </div>
  </div>
    </div>    
       <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="./assets/imgs/card2.png" class="card-img-top" alt="..." height="170px;">
  <div class="card-body">
    <h5 class="card-title">The Delivary Model</h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text">To donate blood the donor must be healthy. The donor must feel well, be active without any problem.</p>
    <a href="http://localhost:4200/donarregistration" class="btn  mr-2"><i class="fas fa-link"></i> Doante</a>
 
  </div>
  </div>
    </div>    
          <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="./assets/imgs/card1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">thalassaemia</h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text">Beta-thalassaemia is a genetic blood disorder. A person who carries the beta-thalassaemia gene can appear perfectly healthy</p>
    <a href="http://localhost:4200/donarregistration" class="btn mr-2"><i class="fas fa-link"></i> Donate</a>
   
  </div>
  </div>
  </div>
    
    
</div>
  </div>
</div>
<br><br>>
<h3>REACH US</h3>
<br>
<div class="row">
  <div class="col-8">
   
    <div class="map">
      <a href="#"> <img src="./assets/imgs/map.png" width="650px" height="200px"></a>
     </div>
  </div>
  <div class="col-4">
   <p class="text-danger"> Address</p>
Lake view palace, Road NO.1,<br>
Banjara Hills, Hyderabad - 500 033<br>
Telephone: +91 8106999686 / 040 23384212<br>
Email: nirmaanbloodbank@gmail.com
  </div>
</div>




  <br>

          
    </body>
    
</html>