<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  <style>
    .container {
      position: relative;
      text-align: center;
      color: rgb(68, 235, 26);
    }
    
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    </style>
    </head>
    <body>
    
    
    
    <div class="container">
      <img src="./assets/imgs/bgimage1.jpg" alt="Snow" width="1150px" height="500px">
      
      <div class="centered">
    
    
 
<div class="container" class="one">
  <h2>Registration Form</h2>

  <form action="/action_page.php" >
    <div class="row">
      <div class="col-6" >
        <input type="text" class="form-control"   placeholder="Enter FirstName" name="fn">
      </div>
      <div class="col-6">
        <input type="text" class="form-control" placeholder="Enter LastName" name="ln"><br>
      </div>
     
      <div class="col-6">
        <input type="text" class="form-control" id="email"  placeholder="Enter email" name="email">
      </div>
      <div class="col-6">
        <input type="password" class="form-control" placeholder="Enter password" name="pswd"><br>
      </div>
     
       <div class="col-6">
        <input type="Gender" class="form-control" placeholder="Enter female/male" name="gd">
      </div>
       <div class="col-6">


        <select name="cars" id="cars" class="form-control" >
        
          <option value="volvo">blood type  </option>
          <option value="saab">A+ve</option>
          <option value="mercedes">B+ve</option>
          <option value="audi">A-ve</option>
          <option value="audi">B-ve</option>
          <option value="audi">O-ve</option>
          <option value="audi">O+ve</option>
          <option value="audi">AB-ve</option>
          <option value="audi">AB+ve</option>
          <option value="audi">Don't Know</option>
        </select>
      </div>
      
       <br><br><br>
      <div class="col-6">
        <input type="contact Number" class="form-control" placeholder="Enter number" name="cn">
      </div> 
      <div class="col-6">
      
        <textarea name="address" id="a" cols="1" rows="1" class="form-control" placeholder="Enter Address"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3 ">Submit</button>
  </form>
</div>
</div></div>
<br>

</body>
</html>
