<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

 </head>
 <body>
   
<div class="container">
 
  <table class="table">
    <thead>
      <tr class="text-danger table-primary">
        <th>Donar Name</th>
        <th>Contact No</th>
       
        <th>Blood type</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-success" >
        <td>ramu</td>
        <td>854968574</td>
        <td>O+ve</td>
         <td>Hyderabad</td>
      </tr>      
      <tr class="table-primary">
        <td>rani</td>
        <td>7474858596</td>
        <td>B+ve</td>
         <td>Medchal</td>
      </tr>
      <tr class="table-success">
        <td>Suresh</td>
        <td>8525146302</td>
        <td>O-ve</td>
         <td>Suchitra</td>
      </tr>
      <tr class="table-danger">
        <td>Akhil</td>
        <td>7584869548</td>
        <td>B-ve</td>
         <td>Khammam</td>
      </tr>
      <tr class="table-info">
        <td>Indira</td>
        <td>9856987451</td>
        <td>A+ve</td>
         <td>Kothagudem</td>
      </tr>
      <tr class="table-warning">
        <td>sony</td>
        <td>7584789658</td>
        <td>AB-ve</td>
         <td>warangal</td>
      </tr>
      <tr class="table-danger">
        <td>Ashok</td>
        <td>8745986545</td>
        <td>AB+ve</td>
         <td>Nizamabad</td>
      </tr>
      <tr class="table-secondary">
        <td>Swathi</td>
        <td>7485968547</td>
         <td>O+ve</td>
        <td>Kodad</td>
      </tr>
      <tr class="table-info text-success">
        <td>Likith</td>
        <td>8574987456</td>
        <td>B+ve</td>
         <td>Suryapet</td>
      </tr>
      <tr class="table-dark text-info">
        <td>Sowmya</td>
        <td>9876547891</td>
        <td>AB+ve</td>
         <td>Nalgonda</td>
      </tr>
    </tbody>
  </table>
</div>

   


</body>
</html> 
